<%- layout('layouts/dashboard') %>
<div class="row">
    <div class="col-md-4">
        <%- partial('partials/input_data') %>
    </div>
    <div class="col-md-8">
        <%- partial('partials/table') %>
    </div>
</div>